.myEditorContainer {
    &.fullscreen {
        position: fixed;
        z-index: 9999;
        background: white;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #091624c0;

        .myEditorContainerContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 90vh;
            width: 95%;
            background: #fff;
            border-radius: 10px;
            padding: 10px;

            .myEditorContainerFullscreenButton{
                right: 15px;
                top: 15px;
                background: #7096b1;
            }

            .quill {
                height: calc(100% - 45px) !important;
            }
        }
    }

    .myEditorContainerContent {
        position: relative;
        height: 100%;
        width: 100%;

        .myEditorContainerFullscreenButton{
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 10000;
            background: #b8c1cf;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33px;
            height: 33px;
            padding: 7px;
            border-radius: 5px;

            svg{
                width: 100%;
                height: 100%;
            }
        }

        .quill {
            display: inline-block;
            width: 100%;

            .ql-toolbar {
                border-radius: 10px;
                background: #eaebec;
                // -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                // -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
                padding: 3px !important;

                .ql-formats {
                    margin: 4px;
                    background: #d9dce1;
                    padding: 2px;
                    border-radius: 5px;
                }
            }

            .ql-container {
                border-radius: 0 0 10px 10px;
                padding-right: 2px;
            }

            .ql-editor {
                &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #888;
                    border-radius: 4px;

                    &:hover {
                        background: #555;
                    }
                }
            }
        }

        .quill-editor-container .ql-formula {
            display: inline-block;
            vertical-align: middle;
            padding: 0 2px;
        }

        .quill-editor-container .katex {
            display: inline-block;
            font-size: 1.1em;
        }

        .ql-snow .ql-picker.ql-font .ql-picker-label::before,
        .ql-snow .ql-picker.ql-font .ql-picker-item::before {
            content: "";
        }

        .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
            overflow: auto;
            max-height: 300px;
        }

        .ql-font-arial {
            font-family: Arial, sans-serif !important;
        }

        .ql-font-comic-sans {
            font-family: "Comic Sans MS", cursive, sans-serif !important;
        }

        .ql-font-courier-new {
            font-family: "Courier New", Courier, monospace !important;
        }

        .ql-font-georgia {
            font-family: Georgia, serif !important;
        }

        .ql-font-helvetica {
            font-family: Helvetica, sans-serif !important;
        }

        .ql-font-times-new-roman {
            font-family: "Times New Roman", Times, serif !important;
        }

        .ql-font-verdana {
            font-family: Verdana, sans-serif !important;
        }

        .ql-font-trebuchet-ms {
            font-family: "Trebuchet MS", sans-serif !important;
        }

        .ql-font-garamond {
            font-family: Garamond, serif !important;
        }

        .ql-font-palatino-linotype {
            font-family: "Palatino Linotype", serif !important;
        }

        .ql-font-consolas {
            font-family: Consolas, monospace !important;
        }

        .ql-font-lucida-console {
            font-family: "Lucida Console", monospace !important;
        }

        .ql-font-impact {
            font-family: Impact, sans-serif !important;
        }

        .ql-font-brush-script-mt {
            font-family: "Brush Script MT", cursive !important;
        }

        .ql-font-tahoma {
            font-family: Tahoma, sans-serif !important;
        }

        .ql-font-gill-sans {
            font-family: "Gill Sans", sans-serif !important;
        }

        .ql-font-franklin-gothic-medium {
            font-family: "Franklin Gothic Medium", sans-serif !important;
        }

        .ql-font-century-gothic {
            font-family: "Century Gothic", sans-serif !important;
        }

        .ql-font-bookman-old-style {
            font-family: "Bookman Old Style", serif !important;
        }

        .ql-font-candara {
            font-family: Candara, sans-serif !important;
        }

        .ql-font-didot {
            font-family: Didot, serif !important;
        }

        .ql-font-futura {
            font-family: Futura, sans-serif !important;
        }

        .ql-font-rockwell {
            font-family: Rockwell, serif !important;
        }

        .ql-font-baskerville {
            font-family: Baskerville, serif !important;
        }

        .ql-font-bodoni-mt {
            font-family: "Bodoni MT", serif !important;
        }

        .ql-font-copperplate {
            font-family: Copperplate, serif !important;
        }

        .ql-font-perpetua {
            font-family: Perpetua, serif !important;
        }

        .ql-font-monaco {
            font-family: Monaco, monospace !important;
        }

        .ql-font-century-schoolbook {
            font-family: "Century Schoolbook", serif !important;
        }

        .ql-font-segoe-ui {
            font-family: "Segoe UI", sans-serif !important;
        }

        .ql-snow .ql-toolbar button.ql-fullscreen {
            &:hover .ql-stroke {
                stroke: #06c;
            }

            .ql-stroke {
                stroke: #444;
            }
        }
    }
}


.ql-editor table {
    width: 100%;
    border-collapse: collapse;
}

.ql-editor table td,
.ql-editor table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.ql-editor table th {
    background-color: #f2f2f2;
    text-align: left;
}