
.react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(99, 99, 99, 0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
    font-family: "Nunito", sans-serif;
    width: 500px; /* Daha geniş cihazlarda %90 genişlik */
    padding: 20px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
    text-align: center;
    margin: 0 auto; /* Orta hizalama */
}

@media (max-width: 600px) {
    .react-confirm-alert-body {
        width: 370px; /* Küçük ekranlarda daha fazla boşluk */
    }
}

.react-confirm-alert-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.react-confirm-alert-body > h1 {
    margin-top: 0;
    color: #1e293b !important;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 0px;
}

.react-confirm-alert-body > h3 {
    margin: 0;
    font-size: 3.5em !important;
    color: #1e293b !important;
}

.react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 15px !important;
}

.react-confirm-alert-button-group > button {
    outline: none;
    background: #1e293b;
    border: none;
    display: inline-block;
    padding: 10px 18px;
    color: #fff;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;

    &:hover {
        opacity: 0.8;
    }

    &:last-child {
        background: #506280 !important;
        color: #fff;
    }
    &:first-child {
        background: #1e293b !important;
        color: #fff;
    }
}

.react-confirm-alert-body > div {
    max-height: 250px !important;
    overflow: auto;
}